
body{
margin-bottom:150px;
background-color:#EEEEEE;
font-family:sans-serif;
}

#pos1{
position:relative;
bottom:4px;
}

#pos3{
position:relative;
bottom:5px;
}

.sites{
position:relative;
bottom:20px;
}

a:link{
text-decoration:none;
color:rgb(0, 119, 197);
}

a:visited{
color:rgb(0, 119, 197);
}

#link{
color:grey;
}

header{
position:absolute;
right:40px;
line-height:2px;
font-size:12px;
}

.logo{
position:relative;
bottom:20px;
}

.lock{
width: 2.4rem;
height: 2.4rem;
margin-left: -6px;
background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png);
background-size: 50%;
background-position: center;
background-repeat: no-repeat;
}
 
#button{
position:relative;
bottom:30px;
left:10px;
float:right;
width:120px;
}


.buttons{
border-radius:5px;
height:40px;
background-color:rgb(0, 119, 197);
color:white;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

main{
position:relative;
top:110px;
margin:auto;
margin-bottom:0px;
text-align:center;
}

fieldset{
position:relative;
border:1px solid rgba(192,192,192,.5);
background-color:white;
display:flex;
flex-direction:column;
width:350px;
height:530px;
margin:auto;
text-align:left;
}

.newAcc{
color: #36454f;
}

h1{
font-size:25px;
text-align:center;
font-weight:1;
}

h2{
font-size:15px;
font-weight:1;
text-align:center;
}

h3{
font-size:12px;
font-weight:1;
text-align:center;
}

input{
height:30px;
border-radius:5px;
border:1px solid #D3D3D3;
}

input[type='password'] {
background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/lock-left-grey@3x-a1ab5bd1.png);
background-repeat: no-repeat;
background-size: 24px;
background-position: 96%;
}

.container *{
margin:auto;
width:300px;
margin-top:10px;
}

#create{
position:relative;
top:20px;
margin:auto;
margin-top:10px;
}

.agreement{

text-align:center;
position:relative;
top:40px;
font-size:12px;
font-style: italic;

}



.captcha{
position:absolute;
bottom:0;
text-align:center;
background-color:#f2f2f2;
font-size:12px;
font-opacity:0.2;
margin:auto;
padding-bottom:22px;
padding-top:10px;
padding-right:10px;
padding-left:10px;
margin-left:-10px;
margin-right:-10px;
}

footer{
position:relative;
top:20px;
width:600px;
margin:auto;
}

label{
display:block;
}

input{
display:block;
}